html, body {
    font-family: Helvetica, sans-serif;
    background: #25303B;
}
a {text-decoration: none;}
header a:link,header a:visited,header a:hover,header a:active, footer a { text-decoration: none; color: rgb(201, 201, 201);}
/* header universel */
header {
    position: fixed;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(201, 201, 201);
    padding: 25px;
    transition: background-color ease-in-out 1s;
}
header:hover {
    background: rgba(0, 0, 0, 0.8);
}
header .h5:hover, header span, footer a:hover {
    color: #FFC107;
}

img {
    display: flex;
    align-items: center;
}

footer { margin: 1em; }

/* ------------------ Page index-timeline.html ------------------ */
.accueil {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil img {
    width: 35%;
    border-radius: 15px;
}

.accueil .btn {
    margin: 20px;
}

/* ------------------ Page index-timeline.html ------------------ */
.timeline {
    width: 80%;
    margin: 20px auto;
    position: relative;
}

/* création de la ligne chronologique */
.timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    background: rgba(255,255,255,0.2);
}

.timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}

/* structuration des cadres */
.timeline article:after {
    content: '';
    display: block;
    clear: both;
}

.timeline .inner {
    width: 40%;
    float: left;
    margin: 45px 0 0 0;
    border-radius: 6px;
}

/* gestion des cercles de dates et des dates */
.timeline .year {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px 0;
    
    position: absolute;
    top: 0;
    left: 50%;
    margin: 20px 0 0 -52px;
    border-radius: 100%;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 6px;

    text-transform: uppercase;
    text-align: center;
    
    background: #25303B;
    color: rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 0 7px #25303B; /* sépare le block date de la ligne chronologique */
}

/* création des titres de modules */
.timeline .inner h2 {
    padding: 15px;
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 6px 6px 0 0;
    position: relative;
}

/* création des flèches de couleur */
.timeline .inner h2:after {
    content: '';
    position: absolute;
    top: 20px;
    right: -5px;
    width: 10px; 
    height: 10px;
    -webkit-transform: rotate(-45deg);
}

/* création des textes sous les modules */
.timeline .inner p {
    padding: 15px;
    margin: 0;
    font-size: 14px;
    background: #fff;
    color: #656565;
    border-radius: 0 0 6px 6px;
}

/* décallage des modules pairs à gauche */
.timeline article:nth-child(2n+2) .inner {
    float: right;
}
.timeline article:nth-child(2n+2) .inner h2:after {
    left: -5px;
}

/* initiation des couleurs des cadres de titre et de leurs flèches */
.timeline article:nth-child(1) .inner h2, .timeline article:nth-child(1) .inner h2:after {
    background: #e74c3c;
}
.timeline article:nth-child(2) .inner h2, .timeline article:nth-child(2) .inner h2:after {
    background: #2ecc71;
}
.timeline article:nth-child(3) .inner h2, .timeline article:nth-child(3) .inner h2:after {
    background: #e67e22;
}
.timeline article:nth-child(4) .inner h2, .timeline article:nth-child(4) .inner h2:after {
    background: #1a81bc;
}
.timeline article:nth-child(5) .inner h2, .timeline article:nth-child(5) .inner h2:after {
    background: #9b59b6;
}

/* --------------------- Pages femme.html ------------------- */
.structure-card {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 35em;
    padding-top: 1em;
    margin-top: 3em;
    align-items: center;
    border-radius: 6px;
}
.card img {
    max-width: 25em;
    border-radius: 15px;
}

.ada      .card {border: 5px solid #e74c3c;}
.hedy     .card {border: 5px solid #2ecc71;}
.jean     .card {border: 5px solid #e67e22;}
.grace    .card {border: 5px solid #1a81bc;}
.margaret .card {border: 5px solid #9b59b6;}


/* ------------------ Page index-contact.html ------------------- */
.contact {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact img {
    width: 35%;
    border-radius: 15px;
}

.contact .btn {
    margin: 20px;
}

.contact form {
    color: rgb(201, 201, 201);
}

.contact form div {
    margin-top: 10px;
}