html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
body {
    background: #25303B;
}

header {
    position: fixed;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    transition: background-color ease-in-out 1s;
}
header:hover {
    background: rgba(0, 0, 0, 0.8);
}

img {
    display: flex;
    align-items: center;
}


/* ------------------ Page index-timeline.html ------------------ */
.timeline {
    width: 80%;
    margin: 20px auto;
    position: relative;
}
.timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    background: rgba(255,255,255,0.2);
}
.timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}
.timeline article:after {
    content: '';
    display: block;
    clear: both;
}
.timeline .inner {
    width: 40%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
}
.timeline .year {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 20px 0 0 -52px; /*décallage des modules de date de 30px (moitié du diamètre du cercle) + 2px (largeur de la ligne de temps)*/
    border-radius: 100%;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    
    background: #25303B;
    color: rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 0 7px #25303B; /* sépare le block date de la ligne chronologique */
}

.timeline .inner h2 {
    padding: 15px;
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 6px 6px 0 0;
    position: relative;
}
.timeline .inner h2:after {
    content: '';
    position: absolute;
    top: 20px;
    right: -5px;
        width: 10px; 
        height: 10px;
    -webkit-transform: rotate(-45deg);
}
.timeline .inner p {
    padding: 15px;
    margin: 0;
    font-size: 14px;
    background: #fff;
    color: #656565;
    border-radius: 0 0 6px 6px;
}
.timeline article:nth-child(2n+2) .inner {
    float: right;
}
.timeline article:nth-child(2n+2) .inner h2:after {
    left: -5px;
}
.timeline article:nth-child(1) .inner h2 {
    background: #e74c3c;
}
.timeline article:nth-child(1) .inner h2:after {
    background: #e74c3c;
}
.timeline article:nth-child(2) .inner h2 {
    background: #2ecc71;
}
.timeline article:nth-child(2) .inner h2:after {
    background: #2ecc71;
}
.timeline article:nth-child(3) .inner h2 {
    background: #e67e22;
}
.timeline article:nth-child(3) .inner h2:after {
    background: #e67e22;
}
.timeline article:nth-child(4) .inner h2 {
    background: #1abc9c;
}
.timeline article:nth-child(4) .inner h2:after {
    background: #1abc9c;
}
.timeline article:nth-child(5) .inner h2 {
    background: #9b59b6;
}
.timeline article:nth-child(5) .inner h2:after {
    background: #9b59b6;
}

/* ------------------ Page index-contact.html ------------------- */